# Chapter 5 : Joining Data with pandas - Left Join

Take your knowledge of joins to the next level. In this chapter, you’ll work with TMDb movie data as you learn about left, right, and outer joins. You’ll also discover how to merge a table to itself and merge on a DataFrame index.

In [7]:
import pickle
import csv
from sklearn.utils import shuffle

movies_file = "movies.p"
movies_finacial_file = "financials.p"

with open(movies_file, mode='rb') as f:
    movies = pickle.load(f)
    
with open(movies_finacial_file, mode='rb') as f:
    movies_fianancials = pickle.load(f)

In [8]:
movies.shape
movies.head()

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

In [9]:
movies_financials.shape
movies_financials.head()

NameError: name 'movies_financials' is not defined