In [4]:
import numpy as np
import pandas as pd

sales = pd.read_excel("Electronic sales.xlsx")
sales.info()
sales.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          30 non-null     object
 1   Order Date        30 non-null     datetime64[ns]
 2   Shipping Date     30 non-null     datetime64[ns]
 3   Aging             30 non-null     int64
 4   Ship Mode         30 non-null     object
 5   Product Category  30 non-null     object
 6   Product           30 non-null     object
 7   Sales             30 non-null     int64
 8   Quantity          30 non-null     int64
 9   Discount          30 non-null     float64
 10  Profit            30 non-null     float64
 11  Shipping Cost     30 non-null     float64
 12  Order Priority    30 non-null     object
 13  Zip Code          30 non-null     int64
dtypes: datetime64[ns](2), float64(3), int64(4), object(5)
memory usage: 3.4+ KB

,Order ID,Order Date,Shipping Date,Aging,Ship Mode,Product Category,Product,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Zip Code
0,El-2015-1,2015-02-25,2015-02-26,4,Flight,Electronic,Samsung Mobile,220,2,0.01,135.60,13.560,Critical,16515
1,El-2015-2,2015-06-22,2015-06-27,5,Flight,Electronic,Watch,104,1,0.03,20.88,2.088,Critical,14030
2,El-2015-3,2015-10-25,2015-10-30,2,Flight,Electronic,Fans,149,4,0.01,63.04,6.304,Critical,12075
3,El-2015-4,2015-10-15,2015-10-16,3,Flight,Electronic,Iron,222,4,0.03,115.36,11.536,Critical,11866
4,El-2015-5,2015-02-02,2015-02-06,5,Flight,Electronic,Tablet,199,3,0.05,89.15,8.915,High,13834

In [8]:
sales.Sales.mean()
sales.Sales.median()

149.0

In [10]:
sales["Order Date"].max()

Timestamp('2015-12-11 00:00:00')

In [33]:
# Efficient summaries : the .agg() function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)

In [34]:
sales["Shipping Cost"].quantile(0.25)

3.2625

In [35]:
sales["Shipping Cost"].agg(max)
sales["Shipping Cost"].max()

13.56

In [37]:
# the sales["Shipping Cost"] column is passed to iqr function as argument
print(sales["Shipping Cost"].agg(iqr))

7.370500000000001