# Chapter 5 : Joining Data with pandas - Left Join

Take your knowledge of joins to the next level. In this chapter, you’ll work with TMDb movie data as you learn about left, right, and outer joins. You’ll also discover how to merge a table to itself and merge on a DataFrame index.

In [42]:
import pickle
import csv
from sklearn.utils import shuffle

movies_file = "movies.p"
finacial_file = "financials.p"

with open(movies_file, mode='rb') as f:
    movies = pickle.load(f)
    
with open(finacial_file, mode='rb') as f:
    financials = pickle.load(f)

In [43]:
print(movies.shape)
movies.head()

(4803, 4)

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

In [44]:
print(financials.shape)
financials.head()

(3229, 3)

       id     budget       revenue
0   19995  237000000  2.787965e+09
1     285  300000000  9.610000e+08
2  206647  245000000  8.806746e+08
3   49026  250000000  1.084939e+09
4   49529  260000000  2.841391e+08

In [30]:
movies_financials = movies.merge(financials, on='id', how='left')
print(movies_financials.shape)
movies_financials.head()

(4803, 6)

,id,title,popularity,release_date,budget,revenue
0,257,Oliver Twist,20.415572,2005-09-23,50000000.0,42093706.0
1,14290,Better Luck Tomorrow,3.877036,2002-01-12,NaN,NaN
2,38365,Grown Ups,38.864027,2010-06-24,80000000.0,271430189.0
3,9672,Infamous,3.680896,2006-11-16,13000000.0,1151330.0
4,12819,Alpha and Omega,12.300789,2010-09-17,20000000.0,39300000.0

In [31]:
movies_financials.isna().sum()

id                 0
title              0
popularity         0
release_date       1
budget          1574
revenue         1574
dtype: int64

In [ ]:
### Enriching a dataset

Setting how='left' with the .merge()method is a useful technique for enriching or enhancing a dataset with additional information from a different table. In this exercise, you will start off with a sample of movie data from the movie series Toy Story. Your goal is to enrich this data by adding the marketing tag line for each movie. You will compare the results of a left join versus an inner join.

In a left join, all of the rows from the left table will be returned. In a one-to-one relationship, the left table matches up to only one row in the right table. Therefore, it will return the same number of rows in the left table.

In [33]:
'''
# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act','_sci'))

# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]

# Merge the movies and scifi_only tables with an inner join
movies_and_scifi_only = movies.merge(scifi_only, how='inner', left_on='id', right_on='movie_id')

# Print the first few rows and shape of movies_and_scifi_only
print(movies_and_scifi_only.head())
print(movies_and_scifi_only.shape)
'''

"\n# Merge action_movies to the scifi_movies with right join\naction_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',\n                                   suffixes=('_act','_sci'))\n\n# From action_scifi, select only the rows where the genre_act column is null\nscifi_only = action_scifi[action_scifi['genre_act'].isnull()]\n\n# Merge the movies and scifi_only tables with an inner join\nmovies_and_scifi_only = movies.merge(scifi_only, how='inner', left_on='id', right_on='movie_id')\n\n# Print the first few rows and shape of movies_and_scifi_only\nprint(movies_and_scifi_only.head())\nprint(movies_and_scifi_only.shape)\n"

In [34]:
'''# Use right join to merge the movie_to_genres and pop_movies tables
genres_movies = movie_to_genres.merge(pop_movies, how='right', left_on='movie_id', right_on='id')

# Count the number of genres
genre_count = genres_movies.groupby('genre').agg({'id':'count'})

# Plot a bar chart of the genre_count
genre_count.plot(kind='bar')
plt.show()
'''

NameError: name 'movie_to_genres' is not defined

### Merging the table to itself
By merging the table to itself, you compared the value of the director from the jobs column to other values from the jobs column. With the output, you can quickly see different movie directors and the people they worked with in the same movie.

In [35]:
'''# Merge the crews table to itself
crews_self_merged = crews.merge(crews, on='id', how='inner',
                                suffixes=('_dir','_crew'))

# Create a boolean index to select the appropriate rows
boolean_filter = ((crews_self_merged['job_dir'] == 'Director') & 
                  (crews_self_merged['job_crew'] != 'Director'))
direct_crews = crews_self_merged[boolean_filter]

# Print the first few rows of direct_crews
print(direct_crews.head())'''

"# Merge the crews table to itself\ncrews_self_merged = crews.merge(crews, on='id', how='inner',\n                                suffixes=('_dir','_crew'))\n\n# Create a boolean index to select the appropriate rows\nboolean_filter = ((crews_self_merged['job_dir'] == 'Director') & \n                  (crews_self_merged['job_crew'] != 'Director'))\ndirect_crews = crews_self_merged[boolean_filter]\n\n# Print the first few rows of direct_crews\nprint(direct_crews.head())"

### Merge on index

In [46]:
ratings_file = "ratings.p"
sequels_file = "sequels.p"

with open(ratings_file, mode='rb') as f:
    ratings = pickle.load(f)
    
with open(ratings_file, mode='rb') as f:
    sequels = pickle.load(f)

In [49]:
sequels.head()

       id  vote_average  vote_count
0   19995           7.2     11800.0
1     285           6.9      4500.0
2  206647           6.3      4466.0
3   49026           7.6      9106.0
4   49529           6.1      2124.0

In [47]:
# Merging on indexes is just like merging on columns, so if you need to merge based on indexes, there's no need to turn the indexes into columns first.

# Merge to the movies table the ratings table on the index
movies_ratings = movies.merge(ratings, on='id')

# Print the first few rows of movies_ratings
movies_ratings.head()

,id,title,popularity,release_date,vote_average,vote_count
0,257,Oliver Twist,20.415572,2005-09-23,6.7,274.0
1,14290,Better Luck Tomorrow,3.877036,2002-01-12,6.5,27.0
2,38365,Grown Ups,38.864027,2010-06-24,6.0,1705.0
3,9672,Infamous,3.680896,2006-11-16,6.4,60.0
4,12819,Alpha and Omega,12.300789,2010-09-17,5.3,124.0

#### Do sequels earn more?

It is time to put together many of the aspects that you have learned in this chapter. In this exercise, you'll find out which movie sequels earned the most compared to the original movie. To answer this question, you will merge a modified version of the sequels and financials tables where their index is the movie ID. You will need to choose a merge type that will return all of the rows from the sequels table and not all the rows of financials table need to be included in the result. From there, you will join the resulting table to itself so that you can compare the revenue values of the original movie to the sequel. Next, you will calculate the difference between the two revenues and sort the resulting dataset.

In [50]:
# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on='id', how='left')

# Self merge with suffixes as inner join with left on sequel and right on id
orig_seq = sequels_fin.merge(sequels_fin, how='inner', left_on='sequel', 
                             right_on='id', right_index=True,
                             suffixes=('_org','_seq'))

# Add calculation to subtract revenue_org from revenue_seq 
orig_seq['diff'] = orig_seq['revenue_seq'] - orig_seq['revenue_org']

# Select the title_org, title_seq, and diff 
titles_diff = orig_seq[['title_org','title_seq','diff']]

# Print the first rows of the sorted titles_diff
print(titles_diff.sort_values(by = 'diff', ascending=False).head())

MergeError: Can only pass argument "on" OR "left_index" and "right_index", not a combination of both.